# dependencies
node_modules

# testing
coverage

# vercel
.vercel

# next.js
.next
out
next-env.d.ts

# production
build
target
dist
dist-ssr
*.local

# misc
.DS_Store
*.pem

# cloudflare
.wrangler
cloudflare.d.ts

# local env files
.env
.env*.local
.dev.vars

# temp directory
.temp
.tmp

# runtime data
pids
*.pid
*.seed
*.pid.lock

# diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# typescript
*.tsbuildinfo

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# other
*.trace
*.zip
*.tar.gz
*.tgz
*.log
*.bun
